<p>Hello <%= @user.name %>!</p>

<p>Greetings, You have been assigned as <%= @role_name %>, Below are the credentials you can use to login as <%= @role_name %> </p>

<p><%= "Email : " + @role_email %></p>

<p> Enter the above mentional email as input at the login page and click on "Send OTP", you will be receiving an OTP via your email. </p>
<p> <%= link_to 'Click here to login', @url %> </p>

<p> Please make sure this mail contains confidential information, do not forward or share with anyone. </p>
<p> Thank You! </p>
